p, h1 {
    color: black;
    font-family: "Boldonse", system-ui;
    /* ceci est un commentaire */
}

a {
    color: black;
    font-family: "Boldonse", system-ui;
}

.pro_pass {
    color: #A5B4FC;
    font-family: "Boldonse", system-ui;
}