body {
  /* Ici on utilise le sélecteur body pour appliquer une police et une taille par défaut pour les éléments */
  font-family: 'Manrope', sans-serif;
  font-size: 1em;
  background-color: #1F2039;
}

a {
  color: black;
  text-decoration: none;
  color:#242424;
}

em {
  color: #a5b4fc;
  font-style: normal;
}

h1 {
  font-size: 3.5em;
  color: #a5b4fc;
  font-family: 'Montserrat', sans-serif;
}

p {
  font-size: 1.1em;
  color: #F9F8FF;
  background-color: darkblue;
}

ul{
    color:#F9F8FF;
    background-color: darkblue;
}

h2{
    color:#F9F8FF;
    background-color: darkblue;
}

div{
    background-color: white;
}

.projetecrit{
    background: linear-gradient(to right, #8E86B5, #ACAEED);
    color: white;
    font-style: "Manrope", sans-serif;
}


